<!DOCTYPE html>
<html lang="en" dir="ltr" id="show">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
  </head>
  <body>
    <a href="home"><button type="button" name="button" class="home-button" style="color:  #00004a">Go Home</button></a>
    <!-- <button type="button" name="button"><a href="new">Create</a></button> -->

    <div>

        <img id="dogPicture" src="images/{{dog.picture}}" alt="No Picture Provided">
        <section id="doginfo">
          <p class="doginfo" id="dogName">Name: {{dog.name}} </p>
          <p class="doginfo" id="dogAge">{{dog.age}} years old</p>
          <p class="doginfo" id="dogDescription">Description: {{dog.description}}</p>
          <p class="doginfo" id="dogPersonality">Personality: {{dog.personality}}</p>
        </section>

        <br>

        <a href="/dogs/{{dog.id}}/update"><button type="button" name="button">Update this Dog</button></a>
        <form action="/dogs/{{dog.id}}?_method=DELETE" method="post" >
        <button type="submit" name="button" class="del-but">Delete this dog</button>
        </form>

    </div>



  </body>
</html>
